<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="supply"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.groupstp.supply.entity.Query</class>
        <class>com.groupstp.supply.entity.Company</class>
        <class>com.groupstp.supply.entity.Division</class>
        <class>com.groupstp.supply.entity.Store</class>
        <class>com.groupstp.supply.entity.MeasureUnits</class>
        <class>com.groupstp.supply.entity.Urgency</class>
        <class>com.groupstp.supply.entity.StageTerm</class>
        <class>com.groupstp.supply.entity.QueryWorkflowDetail</class>
        <class>com.groupstp.supply.entity.QueryWorkflow</class>
        <class>com.groupstp.supply.entity.Employee</class>
        <class>com.groupstp.supply.entity.QueriesPosition</class>
        <class>com.groupstp.supply.entity.Nomenclature</class>
        <class>com.groupstp.supply.entity.Analogs</class>
        <class>com.groupstp.supply.entity.PositionsAnalogs</class>
        <class>com.groupstp.supply.entity.QueryPositionMovements</class>
        <class>com.groupstp.supply.entity.SuppliersSuggestion</class>
        <class>com.groupstp.supply.entity.Suppliers</class>
        <class>com.groupstp.supply.entity.PositionSupplier</class>
        <class>com.groupstp.supply.entity.Vote</class>
        <class>com.groupstp.supply.entity.Bills</class>
    </persistence-unit>
</persistence>
