/* Define your theme modifications inside next mixin */
@mixin com_groupstp_supply-halo-ext {


    .min-height{
        min-height:50px;
    }

    .v-table-row.done-query {
        background-color: lightgray !important;
    }
    .v-table-row.in-work-query {
        background-color: #FFCA73 !important;
    }
    .v-table-row.new-query {
        background-color: #62DA9A !important;
    }
    .v-table-row.overdue-query {
        background-color: #FF9273 !important;
    }

    .v-table-row-odd.done-query {
        background-color: white !important;
    }
    .v-table-row-odd.in-work-query {
        background-color: #FFB740 !important;
    }
    .v-table-row-odd.new-query {
        background-color: #36DA82 !important;
    }
    .v-table-row-odd.overdue-query {
        background-color: #FF6B40 !important;
    }

    .v-textfield-error{
        background-color: lightpink;
    }
    .v-datefield-error{
        background-color: lightpink;
    }
    .c-pickerfield-error{
        background-color: lightpink;
    }

}

